.header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 126px 1fr;
  justify-items: self-end;
  background-color: #ffffff;
  .logo {
    width: 126px;
  }
  .headerContent {
    display: flex;
    align-items: center;
  }
  .basket {
    margin-left: 40px;
    img {
      width: 24px;
      height: 24px;
    }
  }
  .buy {
    margin-left: 20px;
  }
}
